html,body,div,h1,h2,h3,p,a,img,ul,li,form,label,button{margin:0;padding:0;border:0;outline:0;font-size:1em;vertical-align:baseline;background:transparent;font-weight:normal}body{line-height:1}ul{list-style:none}input:focus,button:focus{outline:0}
body {
  background:#444;
  font-family:sans-serif;
  color:#fff;
}
h1 {
  font-size:5em;
  font-weight:bold;
  color:#333;
  text-shadow:0px 2px 3px #555;
  margin:0.3em 0.67em;
  text-align:center;
}
#t {
  width:500px;
  margin:0 auto;
}
#t li {
  display:inline;
}
#t li, button, .b {
  font-size:1em;
  display: inline-block;
  padding: 12px 14px 9px;
  color: #888;
  text-decoration: none;
  text-align:center;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  border:1px solid #333;
  -webkit-border-radius: 5px;
  position: relative;
  cursor: pointer;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  width:120px;
  margin-right:20px;
}
#t li.a {
  background: url(../img/button-overlay.png) repeat-x;
  color:#fff;
}
#t li.l {
  margin:0;
}
#w {
  width:660px;
  margin:20px auto 10px;
  background-color:rgba(90, 90, 90, 0.3);
  padding:20px;
  -moz-border-radius: 5px;
  border:1px solid #333;
  -webkit-border-radius: 5px;
}
#w h2 {
  font-size:2.4em;
  color: rgba(0,0,0, 0.8);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
  font-weight:bold;
}
#w h3 {
  text-align:right;
  color:#777;
  font-style:italic;
  margin:10px 0 20px;
}
#we form {
  display:none;
}
#c, #e, #p {
  display:none;
}
a.b {
  text-decoration:none;
  font-weight:bold;
}
button, .b {
  width:auto;
  background:url(../img/button-overlay.png) #ff5c00;
  color:#fff;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.1);
  border:0;
  padding-top:9px;
}
input, button {
  float:right;
  margin:10px 0;
}
label {
  float:left;
  color:#CCC;
  font-size:1.2em;
  clear:both;
}
input, select {
  background: #DDD;
  border:1px solid #E5E5E5;
  padding:9px;
  font-size:2em;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width:640px;
}
select {
  margin-top:10px;
  width:660px;
  height:55px;
}
#al {
  position:fixed;
  top:0;
  width:100%;
  line-height:30px;
  height:30px;
  text-align:center;
  background:#FF6B6B;
  -moz-box-shadow:0 1px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow:0 1px 5px rgba(0,0,0,0.6);
  display:none;
  color:#222;
}
#p ul {
  margin-top:10px;
}
#p li {
  float:left;
}
#p li:first-child {
  margin-right:20px;
}
#p li div.no-image {
  width:60px;
  text-align:center;
  padding:25px;
  color:#222;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
  font-weight:bold;
  font-size:1.2em;
}
#p li:nth-child(2) {
  width:520px;
}
#p hr {
  margin:0px 0 20px;
  padding:0;
  border-bottom:1px solid #444;
}
#p h3 {
  color:#DDD;
  font-size:1.4em;
  text-align:left;
  font-style: normal;
  margin-bottom:10px;
}
#p a.b {
  float:right;
  margin-right:0;
}
#p ul+div {
  padding: 4px 0 8px;
  border-bottom:1px solid #666;
}
#c input {
  float:none;
  cursor:pointer;
}
#c .o {
  width:280px;
  margin:10px auto;
  text-align:center;
  padding:10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow:2px 2px 2px rgba(0,0,0,0.6);
  font-weight:bold;
  font-size:1.4em;
  background:#8D7100 url(../img/button-overlay.png) repeat-x;
}
#c p {
  display:block;
  text-align:center;
}
#f {
  width:400px;
  margin:0 auto;
  text-align:center;
  color:#777;
  font-size:0.8em;
  margin-bottom:10px;
}